* {
    margin : 0;
    padding:  0;
    box-sizing: border-box;
}

.container {
    margin : 5rem
}

.modal-wraper {
    position: fixed;
    left : 0;
    right: 0;
    bottom: 0;
    top : 0;
    background-color: black;
}